body {
    background-color: #dde3ec;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.bg {
    width: 100%;
    height: 100vh;
    position: relative;

    background-color: #24344d;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.1) 2px, transparent 2px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 2px, transparent 2px);

    background-size: 100px 100px;
}

.connecting-lines1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 0;

    pointer-events: none;
}

.connecting-lines1 path {
    fill: none;
    stroke: rgba(255, 255, 255, 0.4);
    stroke-width: 2px;
    stroke-linecap: round;
}

.connecting-lines2 {
    position: absolute;
    top: 0;
    left: 10%;
    width: 100%;
    height: 100%;

    z-index: 0;

    pointer-events: none;
}

.connecting-lines2 path {
    fill: none;
    stroke: rgba(255, 255, 255, 0.4);
    stroke-width: 2px;
    stroke-linecap: round;
}

.connecting-lines3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 0;

    pointer-events: none;
}

.connecting-lines3 path {
    fill: none;
    stroke: rgba(255, 255, 255, 0.4);
    stroke-width: 2px;
    stroke-linecap: round;
}

.top-bar {
    position: absolute;
    top: 30px;
    left: 40px;
    right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    width: 150px;
    height: auto;
}

.nav-bar {
    display: flex;
    gap: 25px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    padding: 25px 30px;
}

.nav-bar a {
    color: #e0e6ed;
    text-decoration: none;
    font-size: 25px;

    transition: all 0.3s ease-in;
}

.nav-bar a:hover {
    color: #ffffff;
    text-shadow: rgba(0, 179, 255, 0.856) 0px 0px 53px;
}

.nav-bar a.active {
    color: #ffffff;

    text-decoration: underline wavy rgba(255, 255, 255, 0.7);
    text-underline-offset: 6px;
}

.info-container {
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 20;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.name {
    background-color: wheat;
    padding: 24px 48px;
    display: inline-block;
    margin: 0;

    font-size: 50px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #24344d;

    transition: all 0.5s ease;

    position: relative;
    z-index: 2;
}

.inovex {
    color: #1050E0;
}

.name:hover {
    text-shadow: rgb(255, 251, 3) 0px -12px 100px;
}

.info {
    background-color: transparent; 
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 24px 32px;
    max-width: 400px;
    
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;

    margin-left: -20px;
    position: relative;
    z-index: 1;
}

.sticker {
    transition: all 1s ease;
}

.sticker:hover {
    transform: scale(1.1);
}

.img1 {
    width: 180px;
    height: auto;
    position: absolute;

    top: 25%;
    left: 75%;

    transform: rotate(-45deg);
}

.img2 {
    width: 300px;
    height: auto;
    position: absolute;

    top: 70%;
    left: 75%;

    transform: rotate(20deg);
}

.img3 {
    width: 400px;
    height: auto;
    position: absolute;

    top: 50%;
    left: 5%;
}